


.big-width {
    background-color: #303330;
    line-height: 40px;
    
}



/* 间隔线条 */
.line{
    width: 1px;
    height: 12px;
    background-color: #424242;
    margin: 14px 8px;
}

.MI-topleft,
.MI-top li {
    float: left;
}


.shoppint-car,.top-login {
    float: right;
}

/* 超链接 */
.MI-top a {
    font-size: 12px; 
    color: #b0b0b0;
    display: inline-block;
}

.MI-top a:hover{
    color: white;
}

/* 购物车*/
.shoppint-car{
    position: relative;
}



.shoppint-car:hover a {
    color: #ff6e0b;
    background-color: white;
    position: relative;  
    z-index: 999;
}


.shoppint-car a{
    width: 120px;
    text-align: center;
    background-color: #424242;
    margin-left: 25px;
    
}


.nei{
    position: absolute;
    background-color: white;
    width: 316px;
    /* height: 96px; */
    height: 0px;
    overflow: hidden;
    right: 0px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2); 
    /* display: none; */
    transition:height  .3s;
    z-index: 99;
   
}

.shoppint-car:hover .nei{
    /* display: block; */
    height: 96px   
}
.nei p{
    margin: 30px auto;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
}

.header-width{
    
    position: relative;
}


 /* 设置二维码 */
 .MI-topleft .miages{
    width: 124px;
    /* height: 148px; */
    height: 0px;
    overflow: hidden;
    line-height: 1;
    background-color: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0, 0, .3);
    position: absolute;
    left: -40px;  
    /* display: none; */
     transition:height  .3s;
     z-index: 999;
     
}
/* 设置图片宽度 */
.miages img{
    width: 90px;
    margin: 17px;
    
}

.app{
    position: relative;
    
}

/* 设置二维码下面的文字 */
.miages span{    
    font-size: 14px;
    color: #333;
}

/* 添加三角 */
.app::after{
    content: ''; 
    width: 0px;
    height: 0px; 
    border: 8px  transparent solid;
    border-bottom-color:white;
    border-top:none;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin:  auto;
    display: none;
}



.app:hover::after, .app:hover .miages
{
    height: 148px;
    /* 用于为样式设置过度效果 */
    display: block;
}


.mi-image{
    height: 100px;
}

/* 小米官网 */
.logo{
    float: left;
    width: 55px;
    height: 55px;
    margin: 22px 0px;
    position: relative;
    overflow: hidden;
    text-indent: -999px;
}

.mi-image .logo a{
   position: absolute;
   width: 55px;
   height: 55px;
   left: 0;
   transition: left 0.3s;
   background-color: #ff6700;
   background-image: url(../image/mi-logo.png);
   background-position: center;
}

.mi-image .logo .home{
   left: -55px;
   background-image: url(../image/mi-home.png);
}
.logo:hover .mi{
    left: 55px;
}
.logo:hover .home{
    left: 0;
}


/* 商品分类 */
.top-class{
    height: 100px;     
    float: left;
    line-height: 100px;
    padding-left:  58px;
    
}

.nav>li{
    margin-right: 20px;
    float: left;
   
}


.nav>li>a{
    padding: 16px 0px;
    font-size: 16px;
    color: #333333;
}
/* 隐藏并且独占位置 */
.top-class .hiddents:first-child{
    /* visibility: hidden; */
    position: relative;
}

.top-class a:hover{
    color: #ff6700;
}

/* 悬停下拉 */
.top-class  .top-tan{
    height: 0px;
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 100px;
    transition: height .3s;
    z-index: 999;
    
}


/* 鼠标移入文字后显示商品框 */
.nav li:not(.hiddents):hover ~  .top-tan,
.top-tan:hover
{
    display: block;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 4px 3px  rgba(0, 0, 0,.1);
    height: 230px;
    z-index: 100;
}


.hiddents{
    position: relative;
}


   /* 搜索框 */
   .seachs {
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;
          
}


.seachs .texts{
    box-sizing: border-box;
    float: left;
    width: 224px;
    height: 50px;
    border: none;
    padding:0 10px;
    border: 1px solid rgb(224, 224, 224);
}

.seachs .button-search{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0px;
    border: none;
    border: 1px solid rgb(224, 224, 224);  
    border-left: none;
    color: #616161;
    font-size: 14px;
}

/* 鼠标点击后搜索框变色 */
.texts:focus,
.texts:focus+.button-search
{
   outline: 1px solid #ff6700;
}
.button-search:hover{
    background-color:#ff6700;
    color: white;
    border: none;
}

/* 侧边导航栏 */
.top-detailed{
    width: 234px;
    height: 440px;
    background-color: #8f9b9b;
    position: absolute;
    left: -113px;
    z-index: 99;
    line-height: 1;
    padding-top: 20px;
    /* display: none; */ 
}



.top-detailed i{
  float: right;
  margin: 0px;
  line-height: 42px;
}

.top-detailed  li  a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: white;  
    padding: 0px 30px;
    font-size: 14px;
    
}

.top-detailed  li a:hover{
    background-color: #ff6700;
    color: white;
}



   /*轮播图   */
   .banners img{
    width: 100%;
    vertical-align:top;      
}

.banners .banners-image li{
      position: absolute;
}

.banners{
    position: relative ;
   height: 460px;
}

/* 轮播图右下角点点 */
.pointer{
    position: absolute;
    z-index: 101;
    right: 35px;
    bottom: 22px;
}


.pointer a{
    float: left;
    width: 8px;
    height: 8px;
    background-color: rgba(0, 0, 0, .4);
    margin: 0px 4px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 50%;
    
}

.pointer a:hover{
    background-color: rgba(255, 255, 255, .4);
    border-color: rgba(0, 0, 0, .4);
}


/* 轮播图切换 */
.prev-next a{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-image: url(../image/icon-slides.png);
}

.prev-next .prev-left{ 
    left: 234px;          
}


.prev-next .prev-left{ 
    background-position: 82px;        
}

.prev-next .prev-left:hover{
    background-position: 0 0;
}

.prev-next .prev-right{ 
    right: 0;
    background-position: -123px;
}


.prev-next .prev-right:hover{
    background-position: 123px;
}


   /* 侧边栏固定定位 */
    /* 
        固定定位方式方法
            布局等式
                left + margin-left + width + margin-right + right=视口宽度

                auto + 0 + 20 + 0 +50% = 视口宽度 
                原理问题： 右边调整了50%后左边也会自动调节成50%
                    如果要固定到右边同时又不会因为视口拉动调节问题而影响位置。
                    那么就通过调节margin-rigjt 的负数形式来让lefr auto值进行自动调节
     
    */
    .fixed-ce{
        width: 20px;
        height: 206px;
        background-color: antiquewhite;
        position: fixed;
        right: 50%;
        bottom: 60px;
        margin-right: -634px;
    }



    .model-fo{
        background-color: antiquewhite;
        margin-top: 14px;
        height: 170px;
    }
    
   /* 设置左侧快捷方式 */
    .model-ico{
        width: 232px;
        height: 168px;
        background-color: #5f5750;
        margin-right: 14px;
        padding-top: 2px;
        padding-left: 2px;
    }
    .model-ico li,
    .model-image li,
    .model-ico{
        float: left;
    }

    .model-ico  a{
      display: block;
      height: 84px;
      width: 76px;
      color: #cfccca ;
      font-size: 14px;
      text-align: center;
        overflow: hidden;
    }

    .model-ico i{
        margin-top: 20px;
        display: block;
        font-size: 20px;
        margin-bottom: 6px;
        
    }

    .model-ico a:hover{
        color: white;
    }

    .model-ico li{
        position: relative;
    }

    .model-ico li::before{
        content: '';
        width: 60px;
        background-color: #665e57;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        margin: 0px auto;
    }

    .model-ico li::after{
        content: '';
        width: 1px;
        background-color: #665e57;
        height: 60px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto 0px;
    }

    /* 设置右侧图片   */
    .model-image li{
       width: 316px;
       margin-right: 15px;
       vertical-align: top;
    }

    .model-image li:last-child{
        margin-right: 0px;
    }
    .model-image img{
        width: 100%;
    }







