<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>京东左侧栏</title>
    <!-- <link rel="stylesheet" href="CSS/stytle.css"> -->
    <style> 
    *{
        padding: 0px;
        margin: 0px;
    }
    /* 菜单外部容器 */
    .zuo{
        background-color: #FFFFFF;
        width: 190px;
        height: 450px;
        padding: 10px 0px;
        margin: 50px auto;
    }
    .ss li{
        list-style: none;
    }

    .ss{   

        height: 25px;
    /* 让一个文字在父元素中垂直居中 只需要将父元素的line-height设置为一个和父元素height设置一样就可以*/
    line-height: 25px;
    padding-left: 18px;

}
  
    .ss a:hover{
        color: red;
    }

    .ss li:hover{
        background-color: #d9d9d9;
    }

    .ss a{
        /* 去下划线 */
        text-decoration: none;
        font-size: 14px;
    }

    body{
        background-color: #F4F4F4;
    } 



    </style>
</head>
<body>
        <div class="zuo">
            <ul class="ss">
               <li><a href="">家电</a></li>
            </ul>
            <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
            </ul>
            <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
             <ul class="ss">
                <li><a href="">家电</a></li>
             </ul>
             <ul class="ss"> <li><a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a></li>
             </ul>
        </div>

         <!-- <nav class="ce">
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            <div class="ss">
                <a href="">家电</a>
            </div>
            <div class="ss">
                <a href="">手机</a> / <a href="">运营商</a>/ <a href="">数码</a>
            </div>
            
            
        </nav>  -->
      
</body>
</html>